*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    width: 290px;
    height: 82px;
}


header{
    background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
    height: 561px;
}

#header-1 nav {
    width: 100vw;
    margin: auto;
    background-color: #1e2933;
    display: flex;
    justify-content: center;
}


#header-1 nav ul {
    display: flex;

    width: 100%;
    list-style: none;
    justify-content: center;
    

}



#header-1 nav ul li {
    border-top: red 1px solid;
    color: white;
    padding: .5em 4.75em .4em;
    line-height: 1.75em;
    font-size: 1;
}




#header-top {
    display: flex;
    justify-content: space-between;

    width: 80%;
    margin: 14px auto;

    align-items: center;
} 


#barrasearch{
    display: flex;
    align-items: center;
    gap: 12px;
}

#barrasearch div {

    height: 57px;
    width: 384px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    background-color: #15151898;
}

#barrasearch img {
    width: 28px;
    height: 28px;
    margin: 2px 8px;
}

#barrasearch input {
    height: 37px;
    width: 224;
    padding: 6px 8px 5px;
    margin: 2px 8px 2px 0px;

}


#barrasearch span {
    color: rgba(255, 255, 255, 0.686);
    padding: 12px;
}

.donate-button {
    background-color: #ffd343;
    color: rgba(0, 0, 0, 0.603);
    background-image: linear-gradient(#ffdf76 10%, #ffd343 90%);

    width: 74px;
    height: 32px;
    border-radius: 6px;

}

.goButton {
    color: red;
    width: 46px;
    height: 40px;
    background-color: #2b5b84;
    background-image: linear-gradient(#3776ab 10%, #2b5b84 90%);
    color: white;
    font-size: 14px;
}

#header-2 nav {
    width: 70.75em;
    background-color: #3776ab;
    margin: auto;
    font-size: 18px;
    line-height: 30px;
    color: white;
    display: flex;
    justify-content: center;

    border-radius: 8px;
}

#header-2 nav ul{
    display: flex;
    
    gap: 12px;
    
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

#header-2 nav ul li {
    padding: .65em 1.25em .55em;
}

#menu{
    color: red;
    display: flex;
    width: 100%;
    justify-content: center;
}

#codebox{
    background-color: #1b2a38;
    color: green;
    font-size: 18px;
    padding: 20px;
}

#codebox span {
    color: rgba(255, 255, 255, 0.61);
}

#contentbox {
    background-color: #1c3b56;
    padding: 1.25em 2.5em;
}

#menu div {
    width: 490px;
    height: 280px;

}

#note {

    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 18px;

}

#note span a{
    color: yellow;
}