*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    width: 200px;
}


header{
    background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
    height: 561px;
}

#header-1 nav {
    width: 100vw;
    margin: auto;
    background-color: purple;
    display: flex;
    justify-content: center;
}


#header-1 nav ul {
    display: flex;

    width: 70%;
    justify-content: space-between;

    list-style: none;
    background-color: yellow;
    

}

#header-1 nav ul li {
    border: 1px solid red;
    padding: 8px 12px;
}




#header-top {
    display: flex;
    justify-content: space-between;

    width: 80%;
    margin: auto;
} 


#barrasearch{
    display: flex;
}

#header-2 nav {
    width: 1168px;
    background-color: #3776ab;
    margin: auto;
    font-size: 18px;
    line-height: 30px;
    color: white;
}

#header-2 nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}