
*{
    box-sizing: border-box;
}

body{
    background-color: #363636;
}


main{
    border: 1px solid yellow;
}



.calculadora{

    width: 450px;
    height: 650px;


    margin: auto;
    border: 1px solid orange;

}


.campo {
    display: flex;

    align-items: center;
    justify-content: end;

    background-color: white;
    height: 60px;
    
    padding: 2%;
}

.campo p {
    font-size: 24px;
}

.botoes {
    list-style: none;
    display: flex;
    border: 1px solid white
}

.botoes li ul li {
    list-style: none;
    border: 1px solid yellow;

}